.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.container {
    background: #acacac8c;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.button {
    background: #004ad4;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background: #003baa;
}

.button:active {
    transform: scale(0.95);
}

.button:disabled {
    background: #515151;
    cursor: default;
}

.button:disabled:active {
    transform: none;
}